@font-face {
  font-family: "OswaldRegular";
  src: url("../fonts/Oswald-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OswaldLight";
  src: url("../fonts/Oswald-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}