$icon-cat-energy: 0px 115px 0px -115px 202px 59px 391px 225px 'sprite.png';
$icon-gallery-logo: 0px 0px 0px 0px 242px 115px 391px 225px 'sprite.png';
$icon-mishka: 242px 0px -242px 0px 149px 72px 391px 225px 'sprite.png';
$icon-technomart: 0px 174px 0px -174px 220px 51px 391px 225px 'sprite.png';
