$icons: (
    sprite: (width: 492px, height: 492px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    next: (width: 492px, height: 492px, backgroundX: 0px, backgroundY: 0px),
);